rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite leitura pública de todos os arquivos
    match /{allPaths=**} {
      allow read;
    }

    // Permite a escrita (upload) pública apenas na pasta 'general-uploads'
    match /general-uploads/{allPaths=**} {
      allow write: if true;
    }
  }
}
